# Python base
pandas>=2.0
numpy>=1.24
joblib>=1.3

# Spark
pyspark==3.5.1

# Messaging / streaming
kafka-python>=2.0

# Databases
psycopg2-binary>=2.9
redis>=5.0

# Feature store
feast[redis,postgres]>=0.40.0

# Modeling
scikit-learn>=1.4
xgboost>=2.0
imbalanced-learn>=0.12

# Serving & metrics
bentoml>=1.2
prometheus-client>=0.20
pydantic>=2.6
fastapi>=0.110
uvicorn>=0.29

# Utilities
python-dotenv>=1.0
